@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

:root {
  --font-size: 1.25rem;
  --spacing: 2rem;
  --sans-serif: 'Inter', sans-serif;
  --mono: 'IBM Plex Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  color: seashell;
  font-family: var(--sans-serif);
  font-size: var(--font-size);
}

h3 {
  color: hsl(220, 20%, 60%);
  margin: 1rem 0;
}

.code,
.result {
  height: 100vh;
  width: 100%;
}

.code textarea {
  height: 100%;
  width: 100%;
  min-width: 50vw;
  max-width: 80vw;
  font-family: var(--mono);
  font-size: var(--font-size);
  background-color: hsl(220, 20%, 20%);
  color: snow;
  padding: var(--spacing);
  border: none;
  resize: horizontal;
}

.result {
  display: flex;
  flex-direction: column;
}

#output,
#source {
  height: 50%;
  background-color: hsl(220, 20%, 14%);
  overflow-x: hidden;
}

#output iframe {
  height: 100%;
  width: 100%;
  border: none;
}

#output .errors {
  padding: var(--spacing);
  color: tomato;
}

#source {
  padding: 0 var(--spacing);
  border-top: 1px solid hsl(220, 20%, 10%);
  line-height: 1.6;
}

pre {
  font-family: var(--mono);
  white-space: pre-wrap;
  word-wrap: break-word;
}
