@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.app {
  padding: 0 2rem;
  color: snow;
}

.app a {
  color: wheat;
}
